@import "mixins";

html {
    scroll-behavior: smooth;
}

/*$body-color: #fafafa;*/

$primary: #f8485e;
$secondary: #005470;

/*
$body-bg: #212a33;
*/

/*$dark: #2a3642;*/
$dark: #003040;
$darker: #002430;


.bg-darker {
    background-color: $darker;
}

$font-family-base: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
