@mixin ease {
    transition: all 0.2s linear;
}

$primary: #f8485e;
$secondary: #005470;

/*$dark: #2a3642;*/
$dark: #003040;
$darker: #002430;

$border-radius: 0;

.bg-darker {
    background-color: $darker;
}
